html {
    background: $clr-highlight;
}

body {
    background: $clr-light;
    color: $clr-dark;
}

a {
    color: $clr-highlight;

    &:hover {
        color: lighten($clr-highlight, 10%);
    }
}

ul {
    list-style: none;
}
