$serif: Georgia, Cambria, 'Times New Roman', Times, serif;
$sanserif: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Arial, sans-serif;

$merriweather-stack: 'Merriweather', $serif;
$fjalla-stack: 'Fjalla One', $sanserif;

$fontstack-body: $merriweather-stack;
$fontstack-headings: $fjalla-stack;


body, html {
    font-family: $fontstack-body;
    font-size: 17px;
    line-height: 1.65em;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $fontstack-headings;
    font-weight: bold;
}
