
<header>
    <div class="header__content">
        <h1>Michael Bowman</h1>
        <h2>
            Full Stack Software Engineer and Educator from Dayton, Ohio.
        </h2>
        <div class="header__contact">
            <ul>
                <li><a href="mailto:bowmanmc@gmail.com">bowmanmc@gmail.com</a></li>
                <li><a href="https://github.com/bowmanmc">GitHub</a></li>
                <li><a href="https://linkedin.com/in/bowmanmc">LinkedIn</a></li>
        </div>
    </div>
</header>
