$max-width: 512px;

.content {
    margin: 0 auto;
    max-width: $max-width;
    padding: 1.0em;
}

.footer {
    background: $clr-dark;
    border-top: 1px solid $clr-white;
    color: $clr-light;
    min-height: 400px;
    padding: 2.0em 1.0em;

    div {
        margin: 0 auto;
        margin-bottom: 2.0em;
        max-width: $max-width;
    }
}
