html {
    background: $clr-highlight-alt;
}

body {
    background: $clr-light;
    color: $clr-dark;
}

a {
    color: $clr-highlight;

    &:hover {
        color: lighten($clr-highlight, 10%);
    }
}
