
<header>
    <div class="header__content">
        <h1>Michael Bowman</h1>
        <h2>
            Full Stack Software Engineer
            <br />and Educator from <br />
            Dayton, Ohio
            <svg class="header__icon"><use xlink:href="#icon-ohio" /></svg>
        </h2>
        <div class="header__contact">
            <ul>
                <li>
                    <a href="mailto:bowmanmc@gmail.com">
                        bowmanmc@gmail.com
                        <svg class="header__icon"><use xlink:href="#icon-envelope" /></svg>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/bowmanmc">
                        GitHub
                        <svg class="header__icon"><use xlink:href="#icon-github" /></svg>
                    </a>
                </li>
                <li>
                    <a href="https://linkedin.com/in/bowmanmc">
                        LinkedIn
                        <svg class="header__icon"><use xlink:href="#icon-linkedin" /></svg>
                    </a>
                </li>
                <li>
                    <a href="Bowman-Michael-Resume-2017.pdf">
                        Resume (PDF)
                        <svg class="header__icon"><use xlink:href="#icon-file-pdf" /></svg>
                    </a>
        </div>
    </div>
</header>
