footer {
    //background: $clr-header-bg;
    background: $clr-black;
    border-top: 1px solid $clr-highlight;
    box-shadow: 0 0 0.5em $clr-dark;
    color: $clr-light;
    min-height: 400px;
    padding: 2.0em 1.0em;

    div {
        margin: 0 auto;
        margin-bottom: 2.0em;
        max-width: $max-content-width;
    }
}
