
header {
    background: $clr-header-bg;
    border-bottom: 1px solid $clr-white;
    border-right: none;
    color: $clr-light;
    display: block;
    font-family: $fontstack-headings;
    padding: 2.0em 1.0em;

    @include media($desktop) {
        border-bottom: none;
        border-right: 1px solid $clr-white;
    }

    .header__contact {
        margin-top: 1.75em;

        li {
            margin-bottom: 0.25em;
        }
    }

    .header__content {
        max-width: $max-content-width;
        text-align: center;

        @include media($desktop) {
            height: 1vh;
            display: block;
            position: sticky;
            text-align: right;
            top: 0;
        }
    }

    .header__icon {
        display: inline;
    }

    a {
        color: $clr-highlight;
        fill: $clr-highlight;
        text-decoration: none;

        &:hover {
            color: lighten($clr-highlight, 15%);
            fill: lighten($clr-highlight, 15%);
        }
    }

    a .header__icon {
        height: 18px;
        width: 18px;
    }

    h1 {
        margin-top: 0;
    }

    h2 .header__icon {
        height: 32px;
        fill: $clr-light;
        width: 32px;
    }

    li {
        margin-bottom: 0.5em;
    }
}
