
header {
    background: $clr-header-bg;
    border-bottom: 1px solid $clr-white;
    border-right: none;
    color: $clr-light;
    display: flex;
    font-family: $fontstack-headings;
    justify-content: flex-end;
    padding: 2.0em 1.0em;

    @include media($desktop) {
        border-bottom: none;
        border-right: 1px solid $clr-white;
    }

    .header__contact {
        margin-top: 1.75em;

        li {
            margin-bottom: 0.25em;
        }
    }

    .header__content {
        max-width: $max-content-width;

        @include media($desktop) {
            text-align: right;
        }
    }

    .header__icon {
        display: inline;
    }


    h1 {
        margin-top: 0;
    }

    h2 .header__icon {
        height: 32px;
        fill: $clr-light;
        width: 32px;
    }

    a .header__icon {
        height: 18px;
        width: 18px;
    }

    li {
        margin-bottom: 0.5em;
    }
}
