
html, body {
  background: url(../images/metal.jpg);
  text-shadow: 1px 1px 0 #fff;
}

header {
  background: url(../images/metal-bk.jpg);
  border: 1px solid #fff;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  box-shadow: 0 0 7px #333;
  text-shadow: 2px 2px 1px #000;
}

h3 {
}
.item {
}
.item p {
  margin: 0.5em 0;
}

.item_title {
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

.item_info {
  font-size: 80%;
  font-style: italic;
  margin-left: 0.5em;
}
