
.content {
    padding: 1.0em;
    padding-bottom: 3.0em;

    h2 {
        border-bottom: 1px solid $clr-highlight;
        margin-bottom: 0.5em;
        margin-top: 1.75em;
        text-shadow: 2px 2px 0 $clr-white;
    }

    h3 {
        margin-bottom: 0.25em;
        margin-top: 1.5em;
    }

    h4 {
        margin: 0;
    }

    p {
        margin: 0;
    }
}
