html {
    background: $clr-highlight;
}

body {
    background: $clr-light;
    color: $clr-dark;
}

a {
    color: $clr-highlight-alt;
    fill: $clr-highlight-alt;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        color: lighten($clr-highlight-alt, 15%);
        fill: lighten($clr-highlight-alt, 15%);
    }
}

ul {
    list-style: none;
}
