$serif: Georgia, Cambria, 'Times New Roman', Times, serif;
$sanserif: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Arial, sans-serif;

$merriweather-stack: 'Merriweather', $serif;
$fjalla-stack: 'Fjalla One', $sanserif;

$system: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

$medium-headline: KievitOT,Helvetica,sans-serif;
$medium-body: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;

$fontstack-headings: $system;
$fontstack-body: $medium-body;

$base-font-size: 17px;
$base-line-height: 1.65rem;
$type-scale: $golden;

body, html {
    font-family: $fontstack-body;
    font-size: $base-font-size;
    line-height: $base-line-height;
    word-wrap: break-word;
}

footer {
    font-size: modular-scale(-1, $base-font-size, $type-scale);
}

h1, h2, h3, h4, h5, h6 {
    font-family: $fontstack-headings;
    font-weight: bold;
}

h6 {
    font-size: modular-scale(0, $base-font-size, $type-scale);
}
h5 {
    font-size: modular-scale(0, $base-font-size, $type-scale);
}
h4 {
    font-size: 0.95rem;
}
h3 {
    font-size: 1.15rem;
}
h2 {
    font-size: 1.5rem;
    line-height: 2.0rem;
}
h1 {
    font-size: 4.0rem;
    line-height: 4.25rem;
}
